*{
    font-family: 'Calibri';
}
window {
    background-color: #ffddad;
    color: black;
}

button {
    background-image: none;
    color: black;
}

#bright {
    background-color: #F1D8B6;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#dark {
    background-color: #B68864;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#lastMoveDark{
    background-color: #abbd6d;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#legalMove{
    background-color: green;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#legalMoveKill{
    background-color: orange;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#DarkTileVisited{
    background-color: #8a664a;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#BrightTileVisited{
    background-color: #baa586;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#standardButton{
    background-color: #F1D8B6;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    color: #022026;
    font-size: 20px;
}

#standardButton:hover{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #baa586;
}
#Timer{
    background-color: #8a664a;
    color: white;
    font-size: 40px;
    border: 2px solid black;
}

#Timercritical{
    background-color: #8a4a4a;
    color: white;
    font-size: 40px;
    border: 2px solid black;
}

#menuButton{
    background-color: #d69957;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    color: #022026;
    text-decoration: none;
    border-width: 2px;
    font-size: 30px;
}

#menuButton:hover{
    font-size: 50px;
}
#menuWindow{
    background-color:  #F2B05E;
    background-image: url("icons//ezgif.com-gif-maker.gif") ;
    background-size: cover;
}

#dark:hover{
    background-color: #C49372;
}

#bright:hover{
    background-color: #F2DEC5;
}

#standardLabel{
    font-size: 30px;
    color: #022026;
    border-width: 2px;
    border-color: black;
    padding: 10px;
}

#gameOverLabel{
    border: 2px solid black;
    font-size: 25px;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0%{
        background-color: white;
        color: black;
    }
    50%{
        background-color: black;
        color: white;
    }
    100%{
        background-color: white;
        color: black;
    }
}

#KGgameOverLabel{
    font-size: 30px;
    color: #022026;
    border-width: 2px;
    border-color: black;
    padding: 10px;
}
