*{
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
window {
    background-color: white;
    color: black;
}

button {
    background-image: none;
    color: black;
}

#bright {
    background-color: #F1D8B6;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#dark {
    background-color: #B68864;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#legalMove{
    background-color: green;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#legalMoveKill{
    background-color: orange;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#DarkTileVisited{
    background-color: #8a664a;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#BrightTileVisited{
    background-color: #baa586;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

#standardButton{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-size: 15px;
}

#standardButton:hover{
    background-color: #e3dfda;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-size: 15px;
}

#menuButton{
    background-color: #daeddf;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-size: 30px;
}

#menuButton:hover{
    background-color: #b6d6bf;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#dark:hover{
    background-color: #C49372;
}

#bright:hover{
    background-color: #F2DEC5;
}